{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <h1>Toutes les catégories de séries : </h1>
    {%  for category in categories %}
        <div>
            <a href="{{ path("category_app_category_show", { categoryName: category.name }) }}">
                <h2>{{ loop.index }} / {{ category.name }}</h2></a>
        </div>
    {% endfor %}
{% endblock %}