{% extends 'base.html.twig' %}

{% block body %}
    <strong>Acteurs : {{ actor.name }}</strong>
    <ul>
        {% for program in actor.programs %}
            <a href="{{ path('program_show', {id: program.id}) }}"><li>{{ program.title }} </li></a>
        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
    </ul>
{% endblock %}