@import "~bootstrap/scss/bootstrap";
$firstColor: #BEE4FE;
$secondColor: #D1D1D1;
$thirdColor: #2CACFF;

body {
    background-color: whitesmoke;
}

#navbar-wild {
    background-color: $firstColor;
}

.card {
    margin: 10px 10px 10px 10px;
    background-color: $firstColor;
}

#button-fiche {
    background-color: $thirdColor;
    border: $thirdColor;
}
p {
    font-size: 13px;
}