<html>

<head></head>

<body>
<table align="center" class="container" style="background-color: #BEE4FE; font-family: 'Roboto Light'">
    <tbody>
    <tr>
        <td>
            <table class="row">
                <tbody>
                <tr>
                    <th class="small-12 large-12 columns first last">
                        <table>
                            <tbody>
                            <tr>
                                <th>
                                    {% block title %}{% endblock %}
                                    {% block body %}
                                    {% endblock %}
                                </th>
                                <th class="expander"></th>
                            </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>&zwj;
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>